/*    VIEW ADD CSS STYLING        */

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: lavender;
}

.myBg {
    background-color: #5e6566;
}

.main {
    margin-top: 100px;
    padding: 20px;
}